<h1 class="text-center mt-lg-4">New Employee</h1>

<div class="container mt-lg-2">
  <%= render 'form', employee: @employee %>

  <div class="col-lg-6 ml-auto mr-auto mt-lg-3">
    <%= link_to 'Back', root_path %>
  </div>
</div>
