<h1 class="text-center mt-lg-4">Registrar Sucursal</h1>

<div class="container mt-lg-2">
  <%= render 'form', place: @place %>

  <div class="col-lg-6 ml-auto mr-auto mt-lg-3">
    <%= link_to 'Back', places_path %>
  </div>
</div>
